
#überschriften{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    gap: 5vw;
    height: 10vw;
    position: fixed;
    z-index: 10;
    top: 0;
}
#überschriften p{
    margin-top: 2vh;
    margin-left: 2vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 4vw;
    text-align: left;  
      
}
#überschriften a{
    transition: transform 0.3s ease;
    text-decoration: none;
    cursor: url(./images/cursor.png), auto;
}

a:hover{
    transform: scale(1.1);
}
#shrek{
    margin-top: 20vh ;
    width: 50vw;
}